*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p{
  opacity: 0.6;
  line-height: 1.5;
}

a{
 text-decoration: none;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#log{

  font-size: 1.5em;
}



#nv-items{
  display: inline-flex;
  margin-right: 0;
}

.bx{
  margin-right: 20%;
}

#mv_left{
  margin-left: auto;
}

a{
  color:lightskyblue;
}
a:hover{
  color: grey;
  text-decoration: none;
}
